* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/alt.xsl -text
/apertium-hbs.hbs.acx -text
/apertium-hbs.hbs_HR-hbs_SR.dix -text
/apertium-hbs.hbs_HR-hbs_SR.t1x -text
/apertium-hbs.hbs_SR-hbs_HR.t1x -text
/autogen.sh -text
/configure.ac -text
/expand-to-dix.py -text
/gen-bidix.sh -text
/hbs_HR-hbs_SRcyr.mode -text
/hbs_SRcyr-hbs_HR.mode -text
/install-sh -text
/missing -text
/modes.xml -text
