* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/aclocal.m4 -text
/alt.xsl -text
/ap_include.am -text
/apertium-hbs.hbs.acx -text
/apertium-hbs.hbs_HR-hbs_SR.dix -text
/apertium-hbs.hbs_HR-hbs_SR.t1x -text
/apertium-hbs.hbs_SR-hbs_HR.t1x -text
/autogen.sh -text
autom4te.cache/output.0 -text
autom4te.cache/output.1 -text
autom4te.cache/requests -text
autom4te.cache/traces.0 -text
autom4te.cache/traces.1 -text
/config.log -text
/config.status -text
/configure -text
/configure.ac -text
/expand-to-dix.py -text
/gen-bidix.sh -text
/hbs_HR-hbs_SRcyr.mode -text
/hbs_SRcyr-hbs_HR.mode -text
/install-sh -text
/missing -text
/modes.xml -text
